<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-12 col-md-7'>

      {{#if chat}}

        <table
          class='table align-middle table-dark table-striped table-bordered text-center'
        >
          <thead>
            <tr>
              <th scope='col'>Mail</th>
              <th scope='col'>Mensaje</th>
              <th scope='col'>Hora</th>
            </tr>
          </thead>
          <tbody>

            {{#each chat}}
              <tr>
                <td>{{this.mail}}</td>
                <td>{{this.mensaje}}</td>
                <td>{{this.hora}}
                </td>
              </tr>
            {{/each}}

          </tbody>
        </table>

      {{else}}
        <div class='alert alert-warning' role='alert'>
          No se encontraron productos
        </div>
      {{/if}}

    </div>
  </div>
</div>