html
  head 
    meta(charset="UTF-8")
    title='My Aplicación con Sockets'
    
    

  body 
    

    h1= "Agregar un producto al carrito"
    form(action="/api/productos/guardar" method="POST")
      p Nombre:
        input(type="text" name="name" id="name" placeholder="")
      p Precio:
        input(type="text" name="price" id="price" placeholder="")
      p Foto:
        input(type="text" name="thumbnail" id="thumbnail" placeholder="")
        button(type="submit") GUARDAR
  if miDataDinamica.response.length
    table.table.table-striped
      tr
        th Nombre
        th Precio
        th Foto
      each val in miDataDinamica.response
        tr
          td  #{val.name}
          td  #{val.price} 
          td 
            img(src= val.thumbnail, style='width:80px;height:80px;')
  else 
    p "No hay productos"   
    
    
    <script>
    console.log("asd")
    </script>
            
  script(src="/socket.io/socket.io.js")
  script(src="/main.js")

  